# Data Base design

## Contributions
| Person        | Short name | Contribution |
| --------------|---| ----------- |
| Adarsh Vulli  | ad |Creating the databse --> applying the constraints on the columns and basic data processing and inserting the data into the database|

# Connecting to MongoDB using PyMongo

To connect to MongoDB and work with data using Python, we will be installing Pymongo driver.

The easiest way to install the driver is through the pip package management system. Execute the following on a command line
or Anaconda Prompt :

Command line:    
python -m pip install pymongo 

Anaconda Prompt:

pip install pymongo  

pip3 install 'pymongo[srv]'

In [1]:
! pip install pymongo  # ad
! pip3 install 'pymongo[srv]'

Requirement already satisfied: pymongo in /Users/jarvis/opt/anaconda3/lib/python3.9/site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/jarvis/opt/anaconda3/lib/python3.9/site-packages (from pymongo) (2.3.0)
Requirement already satisfied: pymongo[srv] in /Users/jarvis/opt/anaconda3/lib/python3.9/site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/jarvis/opt/anaconda3/lib/python3.9/site-packages (from pymongo[srv]) (2.3.0)

Once PyMongo is installed we can write our first application that will return information about the MongoDB server. In your Python development environment or from a text editor enter the following code.

In [2]:
#ad
import warnings
warnings.filterwarnings('ignore')

In [25]:
#ad
import pymongo # ad
from pprint import pprint
# connect to MongoDB, change the << MONGODB URL >> to reflect your own connection string
client = pymongo.MongoClient("mongodb+srv://avulli:root@cluster0.hnq2erb.mongodb.net/")

### Exploring Collections and Documents

A collection in MongoDB is a container for documents. A database is the container for collections.
Some of the advantages of storing data in documents are dynamic & flexible schema and  the ability to store arrays can be seen from our simple Python scripts.

##### Connecting to a specific Database in our cluster.

In [28]:
#ad
# alternative
db = client.Project
#collection = db.video # or db['video']

In [27]:
#ad
#connecting to database "video"
db = client.Project  # or client['video']
# Issue the serverStatus command and print the results
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1712525412, 14),
                  'signature': {'hash': b'\xf8W\x81$O\x95\n01\x0b3\x90'
                                        b'\xc4\\\xb6\x1bs\x97\x99\x83',
                                'keyId': 7292016679402340354}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '73cdc4d19b985b4c4644edab14770e73d130bfa2',
                  'version': '20240327.0.0.1711374411'},
 'connections': {'available': 481, 'current': 19, 'totalCreated': 96},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'ac-o8yesed-shard-00-01.hnq2erb.mongodb.net:27017',
 'localTime': datetime.datetime(2024, 4, 7, 21, 30, 12, 138000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0,
                                  'searchBeta': 0,
                                  'searchMeta': 0,
                                  'vectorSearch': 0},
             'atlas': {'connectionPool': {'totalCreated': 115014}},
             'operatorCounters': {'match': {'regex': 0, 'text': 0}}},
 'network': {'bytesIn': 1134792, 'bytesOut': 10843877, 'numRequests': 4240},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 25220938079, 'ops': 3922},
                 'reads': {'latency': 589880, 'ops': 287},
                 'writes': {'latency': 4285120, 'ops': 12}},
 'opcounters': {'command': 3932,
                'delete': 0,
                'deprecated': {'getmore': 0, 'query': 0},
                'getmore': 1,
                'insert': 880,
                'query': 290,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'deprecated': {'getmore': 0, 'query': 0},
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1712525412, 14),
 'pid': 292678,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff00000000000001a3'),
          'hosts': ['ac-o8yesed-shard-00-00.hnq2erb.mongodb.net:27017',
                    'ac-o8yesed-shard-00-01.hnq2erb.mongodb.net:27017',
                    'ac-o8yesed-shard-00-02.hnq2erb.mongodb.net:27017'],
          'isWritablePrimary': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2024, 4, 7, 21, 30, 12),
                        'majorityOpTime': {'t': 419,
                                           'ts': Timestamp(1712525412, 13)},
                        'majorityWriteDate': datetime.datetime(2024, 4, 7, 21, 30, 12),
                        'opTime': {'t': 419, 'ts': Timestamp(1712525412, 14)}},
          'me': 'ac-o8yesed-shard-00-01.hnq2erb.mongodb.net:27017',
          'primary': 'ac-o8yesed-shard-00-01.hnq2erb.mongodb.net:27017',
          'primaryOnlyServices': {'TenantMigrationDonorService': {'numInstances': 0,
                                                                  'state': 'running'},
                                  'TenantMigrationRecipientService': {'numInstances': 0,
                                                                      'state': 'running'}},
          'rbid': 7,
          'secondary': False,
          'setName': 'atlas-11s3h1-shard-0',
          'setVersion': 12,
          'tags': {'availabilityZone': 'use1-az4',
                   'diskState': 'READY',
                   'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'US_EAST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 7,
                              'processId': ObjectId('661211c0a6ffafdf2422a08d')},
          'userWriteBlockMode': 1},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1712525353, 15),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True},
 'uptime': 65188.0,
 'uptimeEstimate': 65187,
 'uptimeMillis': 65187346,
 'version': '7.0.8'}

##### Exploring different Collection in Database

With collection_names(), we get list available collections in the database.

In [18]:
#ad 
with client:
    
    db = client.Project
    print(db.list_collection_names())

['contact', 'medical_supplies', 'signup']

##### Connecting to a specific Database in our cluster.

We need to run this step again as pymongo auto-closes the connection after previous step

In [29]:
#ad
# alternative
db = client.Project
#collection =  # or db['video']

# Data Entry and manipulation

## Creating  Data in Singin

In [50]:
#ad
import pandas as pd
singin = pd.read_csv('signup.csv')
singin.head()

,First name,Last name,Hospital name,Address 1 ( hospital ),Address 2 (hospital),City,Country,Pin code,Email,Phone number,Password
0,John,Doe,Healing Hands Clinic,123 Wellness Way,Building B,Healthville,Utopia,123456,john.doe@example.com,555-1234,JDoe#123!
1,Jane,Smith,Mercy General Hospital,456 Care Avenue,Suite 789,Mediapolis,Neverland,654321,jane.smith@fakemail.com,555-5678,JSmith_456*
2,Emma,Jones,St. Hope Hospital,789 Recovery Road,Floor 3,Curetown,Atlantis,112233,emma.jones@placeholder.com,555-9012,EJones!2024
3,Liam,Brown,City Health Center,1010 Treatment Trail,Dept. Pediatrics,Vitality,El Dorado,445566,liam.brown@notreal.com,555-3456,LBrown@987
4,Olivia,Garcia,Riverside Medical,2020 Wellness Waterfront,Riverside Wing,Serenity,Avalon,778899,olivia.garcia@makebelieve.com,555-7890,OGarcia%654#

In [51]:
#ad

# need to make email unique to insert into database
singin = singin.drop_duplicates(subset=['Email'])
singin.head()

,First name,Last name,Hospital name,Address 1 ( hospital ),Address 2 (hospital),City,Country,Pin code,Email,Phone number,Password
0,John,Doe,Healing Hands Clinic,123 Wellness Way,Building B,Healthville,Utopia,123456,john.doe@example.com,555-1234,JDoe#123!
1,Jane,Smith,Mercy General Hospital,456 Care Avenue,Suite 789,Mediapolis,Neverland,654321,jane.smith@fakemail.com,555-5678,JSmith_456*
2,Emma,Jones,St. Hope Hospital,789 Recovery Road,Floor 3,Curetown,Atlantis,112233,emma.jones@placeholder.com,555-9012,EJones!2024
3,Liam,Brown,City Health Center,1010 Treatment Trail,Dept. Pediatrics,Vitality,El Dorado,445566,liam.brown@notreal.com,555-3456,LBrown@987
4,Olivia,Garcia,Riverside Medical,2020 Wellness Waterfront,Riverside Wing,Serenity,Avalon,778899,olivia.garcia@makebelieve.com,555-7890,OGarcia%654#

In [53]:
# ad

# inserting the dataframe into the database
data_dict = singin.to_dict("records")
# need to put a unique constraint on email
db.signup.create_index([('Email', pymongo.ASCENDING)],unique = True)
# inserting the data into the database
db.signup.insert_many(data_dict)

InsertManyResult([ObjectId('661308e902da54eb266f41a1'), ObjectId('661308e902da54eb266f41a2'), ObjectId('661308e902da54eb266f41a3'), ObjectId('661308e902da54eb266f41a4'), ObjectId('661308e902da54eb266f41a5'), ObjectId('661308e902da54eb266f41a6'), ObjectId('661308e902da54eb266f41a7'), ObjectId('661308e902da54eb266f41a8'), ObjectId('661308e902da54eb266f41a9'), ObjectId('661308e902da54eb266f41aa')], acknowledged=True)

## Inserting the inventory records:

In [72]:
# ad

inventory = pd.read_csv('medical_supplies.csv')
inventory.head()

,provider_id,businessname,practicename,practiceaddress1,practicecity,practicestate,practicezip9code,telephonenumber,specialitieslist,supplieslist,Unit Price,Quantity,Delivery time (days),Date Purchased
0,20561045,HARTIG DRUG CO CORP,HARTIG DRUG STORE 5,11002 BARTELL BLVD,GALENA,IL,610368215,8157772700,Pharmacy,Enteral Nutrients,110,50,4,2007-01-11
1,20489003,WAL-MART STORES EAST LP,WALMART PHARMACY 10-0674,1112 NASHVILLE PIKE,GALLATIN,TN,370667116,6154521110,Optician,Enteral Nutrients,100,30,4,2014-01-07
2,20447711,OHIO CVS STORES LLC,CVS PHARMACY #03306,1949 WEST MARKET STREET,AKRON,OH,443136910,3308675410,Pharmacy,Blood Glucose Monitors,9000,2,7,2019-01-01
3,20541431,LUXOTTICA OF AMERICA INC,LENSCRAFERS #00855,2526 S THIRD ST,JACKSONVILLE,FL,322506024,9042472374,Optician,Prosthetic Lenses: Conventional Eyeglasses,300,5,15,2010-03-31
4,20469089,SPECIALTY INFUSIONS INC,PRIME INFUSIONS,1624 BROADWAY,BROOKLYN,NY,112071026,7184434000,Pharmacy,External Infusion Pumps,12000,50,7,2016-12-15

In [73]:
# ad


# need to change the column names to remove spaces
inventory.columns = inventory.columns.str.replace(' ', '_')
# need to change the column name patient_number to Patient_Number
inventory.rename(columns = {'practicezip9code':'zip_code'}, inplace = True)
inventory.rename(columns = {'practiceaddress1':'address1'}, inplace = True)
inventory.rename(columns = {'practicecity':'city'}, inplace = True)
inventory.rename(columns = {'practicestate':'state'}, inplace = True)
inventory.rename(columns = {'Delivery_time_(days)':'days_in_store'}, inplace = True)

# modifying the date colum to be date data type

inventory['Date_Purchased'] = pd.to_datetime(inventory['Date_Purchased'])
# inventory['Date Purchased'] = inventory['Date Purchased'].dt.strftime('%Y-%m-%d')
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   provider_id       200 non-null    int64
 1   businessname      200 non-null    object
 2   practicename      200 non-null    object
 3   address1          200 non-null    object
 4   city              200 non-null    object
 5   state             200 non-null    object
 6   zip_code          200 non-null    int64
 7   telephonenumber   200 non-null    int64
 8   specialitieslist  195 non-null    object
 9   supplieslist      200 non-null    object
 10  Unit_Price        200 non-null    int64
 11  Quantity          200 non-null    int64
 12  days_in_store     200 non-null    int64
 13  Date_Purchased    200 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(6), object(7)
memory usage: 22.0+ KB

In [77]:
# ad

# inserting the dataframe into the database
data_dict = inventory.to_dict("records")

# Filter out records where 'Unit Price' or 'Quantity' is null
data_dict = [record for record in data_dict if record['Unit_Price'] is not None and record['Quantity'] is not None]

# Now you can safely insert the data into the database
db.medical_supplies.insert_many(data_dict)

InsertManyResult([ObjectId('66130b8602da54eb266f41ab'), ObjectId('66130b8602da54eb266f41ac'), ObjectId('66130b8602da54eb266f41ad'), ObjectId('66130b8602da54eb266f41ae'), ObjectId('66130b8602da54eb266f41af'), ObjectId('66130b8602da54eb266f41b0'), ObjectId('66130b8602da54eb266f41b1'), ObjectId('66130b8602da54eb266f41b2'), ObjectId('66130b8602da54eb266f41b3'), ObjectId('66130b8602da54eb266f41b4'), ObjectId('66130b8602da54eb266f41b5'), ObjectId('66130b8602da54eb266f41b6'), ObjectId('66130b8602da54eb266f41b7'), ObjectId('66130b8602da54eb266f41b8'), ObjectId('66130b8602da54eb266f41b9'), ObjectId('66130b8602da54eb266f41ba'), ObjectId('66130b8602da54eb266f41bb'), ObjectId('66130b8602da54eb266f41bc'), ObjectId('66130b8602da54eb266f41bd'), ObjectId('66130b8602da54eb266f41be'), ObjectId('66130b8602da54eb266f41bf'), ObjectId('66130b8602da54eb266f41c0'), ObjectId('66130b8602da54eb266f41c1'), ObjectId('66130b8602da54eb266f41c2'), ObjectId('66130b8602da54eb266f41c3'), ObjectId('66130b8602da54eb266f41c4'), ObjectId('66130b8602da54eb266f41c5'), ObjectId('66130b8602da54eb266f41c6'), ObjectId('66130b8602da54eb266f41c7'), ObjectId('66130b8602da54eb266f41c8'), ObjectId('66130b8602da54eb266f41c9'), ObjectId('66130b8602da54eb266f41ca'), ObjectId('66130b8602da54eb266f41cb'), ObjectId('66130b8602da54eb266f41cc'), ObjectId('66130b8602da54eb266f41cd'), ObjectId('66130b8602da54eb266f41ce'), ObjectId('66130b8602da54eb266f41cf'), ObjectId('66130b8602da54eb266f41d0'), ObjectId('66130b8602da54eb266f41d1'), ObjectId('66130b8602da54eb266f41d2'), ObjectId('66130b8602da54eb266f41d3'), ObjectId('66130b8602da54eb266f41d4'), ObjectId('66130b8602da54eb266f41d5'), ObjectId('66130b8602da54eb266f41d6'), ObjectId('66130b8602da54eb266f41d7'), ObjectId('66130b8602da54eb266f41d8'), ObjectId('66130b8602da54eb266f41d9'), ObjectId('66130b8602da54eb266f41da'), ObjectId('66130b8602da54eb266f41db'), ObjectId('66130b8602da54eb266f41dc'), ObjectId('66130b8602da54eb266f41dd'), ObjectId('66130b8602da54eb266f41de'), ObjectId('66130b8602da54eb266f41df'), ObjectId('66130b8602da54eb266f41e0'), ObjectId('66130b8602da54eb266f41e1'), ObjectId('66130b8602da54eb266f41e2'), ObjectId('66130b8602da54eb266f41e3'), ObjectId('66130b8602da54eb266f41e4'), ObjectId('66130b8602da54eb266f41e5'), ObjectId('66130b8602da54eb266f41e6'), ObjectId('66130b8602da54eb266f41e7'), ObjectId('66130b8602da54eb266f41e8'), ObjectId('66130b8602da54eb266f41e9'), ObjectId('66130b8602da54eb266f41ea'), ObjectId('66130b8602da54eb266f41eb'), ObjectId('66130b8602da54eb266f41ec'), ObjectId('66130b8602da54eb266f41ed'), ObjectId('66130b8602da54eb266f41ee'), ObjectId('66130b8602da54eb266f41ef'), ObjectId('66130b8602da54eb266f41f0'), ObjectId('66130b8602da54eb266f41f1'), ObjectId('66130b8602da54eb266f41f2'), ObjectId('66130b8602da54eb266f41f3'), ObjectId('66130b8602da54eb266f41f4'), ObjectId('66130b8602da54eb266f41f5'), ObjectId('66130b8602da54eb266f41f6'), ObjectId('66130b8602da54eb266f41f7'), ObjectId('66130b8602da54eb266f41f8'), ObjectId('66130b8602da54eb266f41f9'), ObjectId('66130b8602da54eb266f41fa'), ObjectId('66130b8602da54eb266f41fb'), ObjectId('66130b8602da54eb266f41fc'), ObjectId('66130b8602da54eb266f41fd'), ObjectId('66130b8602da54eb266f41fe'), ObjectId('66130b8602da54eb266f41ff'), ObjectId('66130b8602da54eb266f4200'), ObjectId('66130b8602da54eb266f4201'), ObjectId('66130b8602da54eb266f4202'), ObjectId('66130b8602da54eb266f4203'), ObjectId('66130b8602da54eb266f4204'), ObjectId('66130b8602da54eb266f4205'), ObjectId('66130b8602da54eb266f4206'), ObjectId('66130b8602da54eb266f4207'), ObjectId('66130b8602da54eb266f4208'), ObjectId('66130b8602da54eb266f4209'), ObjectId('66130b8602da54eb266f420a'), ObjectId('66130b8602da54eb266f420b'), ObjectId('66130b8602da54eb266f420c'), ObjectId('66130b8602da54eb266f420d'), ObjectId('66130b8602da54eb266f420e'), ObjectId('66130b8602da54eb266f420f'), ObjectId('66130b8602da54eb266f4210'), ObjectId('66130b8602da54eb266f4211'), ObjectId('66130b8602da54eb266f4212'), ObjectId('66130b8602da54eb266f4213'), ObjectId('66130b8602da54eb266f4214'), ObjectId('66130b8602da54eb266f4215'), ObjectId('66130b8602da54eb266f4216'), ObjectId('66130b8602da54eb266f4217'), ObjectId('66130b8602da54eb266f4218'), ObjectId('66130b8602da54eb266f4219'), ObjectId('66130b8602da54eb266f421a'), ObjectId('66130b8602da54eb266f421b'), ObjectId('66130b8602da54eb266f421c'), ObjectId('66130b8602da54eb266f421d'), ObjectId('66130b8602da54eb266f421e'), ObjectId('66130b8602da54eb266f421f'), ObjectId('66130b8602da54eb266f4220'), ObjectId('66130b8602da54eb266f4221'), ObjectId('66130b8602da54eb266f4222'), ObjectId('66130b8602da54eb266f4223'), ObjectId('66130b8602da54eb266f4224'), ObjectId('66130b8602da54eb266f4225'), ObjectId('66130b8602da54eb266f4226'), ObjectId('66130b8602da54eb266f4227'), ObjectId('66130b8602da54eb266f4228'), ObjectId('66130b8602da54eb266f4229'), ObjectId('66130b8602da54eb266f422a'), ObjectId('66130b8602da54eb266f422b'), ObjectId('66130b8602da54eb266f422c'), ObjectId('66130b8602da54eb266f422d'), ObjectId('66130b8602da54eb266f422e'), ObjectId('66130b8602da54eb266f422f'), ObjectId('66130b8602da54eb266f4230'), ObjectId('66130b8602da54eb266f4231'), ObjectId('66130b8602da54eb266f4232'), ObjectId('66130b8602da54eb266f4233'), ObjectId('66130b8602da54eb266f4234'), ObjectId('66130b8602da54eb266f4235'), ObjectId('66130b8602da54eb266f4236'), ObjectId('66130b8602da54eb266f4237'), ObjectId('66130b8602da54eb266f4238'), ObjectId('66130b8602da54eb266f4239'), ObjectId('66130b8602da54eb266f423a'), ObjectId('66130b8602da54eb266f423b'), ObjectId('66130b8602da54eb266f423c'), ObjectId('66130b8602da54eb266f423d'), ObjectId('66130b8602da54eb266f423e'), ObjectId('66130b8602da54eb266f423f'), ObjectId('66130b8602da54eb266f4240'), ObjectId('66130b8602da54eb266f4241'), ObjectId('66130b8602da54eb266f4242'), ObjectId('66130b8602da54eb266f4243'), ObjectId('66130b8602da54eb266f4244'), ObjectId('66130b8602da54eb266f4245'), ObjectId('66130b8602da54eb266f4246'), ObjectId('66130b8602da54eb266f4247'), ObjectId('66130b8602da54eb266f4248'), ObjectId('66130b8602da54eb266f4249'), ObjectId('66130b8602da54eb266f424a'), ObjectId('66130b8602da54eb266f424b'), ObjectId('66130b8602da54eb266f424c'), ObjectId('66130b8602da54eb266f424d'), ObjectId('66130b8602da54eb266f424e'), ObjectId('66130b8602da54eb266f424f'), ObjectId('66130b8602da54eb266f4250'), ObjectId('66130b8602da54eb266f4251'), ObjectId('66130b8602da54eb266f4252'), ObjectId('66130b8602da54eb266f4253'), ObjectId('66130b8602da54eb266f4254'), ObjectId('66130b8602da54eb266f4255'), ObjectId('66130b8602da54eb266f4256'), ObjectId('66130b8602da54eb266f4257'), ObjectId('66130b8602da54eb266f4258'), ObjectId('66130b8602da54eb266f4259'), ObjectId('66130b8602da54eb266f425a'), ObjectId('66130b8602da54eb266f425b'), ObjectId('66130b8602da54eb266f425c'), ObjectId('66130b8602da54eb266f425d'), ObjectId('66130b8602da54eb266f425e'), ObjectId('66130b8602da54eb266f425f'), ObjectId('66130b8602da54eb266f4260'), ObjectId('66130b8602da54eb266f4261'), ObjectId('66130b8602da54eb266f4262'), ObjectId('66130b8602da54eb266f4263'), ObjectId('66130b8602da54eb266f4264'), ObjectId('66130b8602da54eb266f4265'), ObjectId('66130b8602da54eb266f4266'), ObjectId('66130b8602da54eb266f4267'), ObjectId('66130b8602da54eb266f4268'), ObjectId('66130b8602da54eb266f4269'), ObjectId('66130b8602da54eb266f426a'), ObjectId('66130b8602da54eb266f426b'), ObjectId('66130b8602da54eb266f426c'), ObjectId('66130b8602da54eb266f426d'), ObjectId('66130b8602da54eb266f426e'), ObjectId('66130b8602da54eb266f426f'), ObjectId('66130b8602da54eb266f4270'), ObjectId('66130b8602da54eb266f4271'), ObjectId('66130b8602da54eb266f4272')], acknowledged=True)

## Inserting the data of Contact

In [80]:
#ad

contact = pd.read_csv('contact.csv')
contact.head()

,name,email,phone,hospitla name,text
0,Alice Hart,alice.hart@imaginetown.com,555-0100,New Horizons Medical,The online inventory shows 20 units of type O ...
1,Bob Sterling,bob.sterling@nowheredomain.com,555-0200,Sunset Valley Hospital,"""I've noticed repeated discrepancies in the su..."
2,Carol Ray,carol.ray@fictivehealth.net,555-0300,Lifeline Wellness Center,"""Medication A is listed as in stock, but I've ..."
3,David North,david.north@makebelieve.org,555-0400,Serenity Health Clinic,"""There's an error in the system; it won't upda..."
4,Erin Lake,erin.lake@pretendmail.com,555-0500,Mountain Peak Hospital,"""Received a notification that inventory is low..."

In [82]:
# ad
contact = contact.drop_duplicates(subset=['email'])

In [83]:
# ad
# inserting the dataframe into the database
data_dict = contact.to_dict("records")
# need to put a unique constraint on email
db.contact.create_index([('email', pymongo.ASCENDING)],unique = True)
# inserting the data into the database
db.contact.insert_many(data_dict)

InsertManyResult([ObjectId('66130c5702da54eb266f427d'), ObjectId('66130c5702da54eb266f427e'), ObjectId('66130c5702da54eb266f427f'), ObjectId('66130c5702da54eb266f4280'), ObjectId('66130c5702da54eb266f4281'), ObjectId('66130c5702da54eb266f4282'), ObjectId('66130c5702da54eb266f4283'), ObjectId('66130c5702da54eb266f4284'), ObjectId('66130c5702da54eb266f4285'), ObjectId('66130c5702da54eb266f4286')], acknowledged=True)

# Sample Queries

In [39]:
# ad
client = pymongo.MongoClient("mongodb+srv://avulli:root@cluster0.hnq2erb.mongodb.net/")

In [40]:
# ad
client.list_database_names()

['Project', 'sample_mflix', 'admin', 'local']

In [41]:
# ad
db = client.get_database('Project')
db.list_collection_names()
db = db['medical_supplies']

#### Multiple Record Query

To find multiple records, you can use the `find()` command along with the limit() method

In [34]:
# ad
for r in db.find().limit(5):
    pprint(r)

{'Date Purchased': datetime.datetime(2007, 1, 11, 0, 0),
 'Delivery time (days)': 4,
 'Quantity': 50,
 'Unit Price': 110,
 '_id': ObjectId('6613068002da54eb266f40bb'),
 'businessname': 'HARTIG DRUG CO CORP',
 'practiceaddress1': '11002 BARTELL BLVD',
 'practicecity': 'GALENA',
 'practicename': 'HARTIG DRUG STORE 5',
 'practicestate': 'IL',
 'practicezip9code': 610368215,
 'provider_id': 20561045,
 'specialitieslist': 'Pharmacy',
 'supplieslist': 'Enteral Nutrients',
 'telephonenumber': 8157772700}
{'Date Purchased': datetime.datetime(2014, 1, 7, 0, 0),
 'Delivery time (days)': 4,
 'Quantity': 30,
 'Unit Price': 100,
 '_id': ObjectId('6613068002da54eb266f40bc'),
 'businessname': 'WAL-MART STORES EAST LP',
 'practiceaddress1': '1112 NASHVILLE PIKE',
 'practicecity': 'GALLATIN',
 'practicename': 'WALMART PHARMACY 10-0674',
 'practicestate': 'TN',
 'practicezip9code': 370667116,
 'provider_id': 20489003,
 'specialitieslist': 'Optician',
 'supplieslist': 'Enteral Nutrients',
 'telephonenumber': 6154521110}
{'Date Purchased': datetime.datetime(2019, 1, 1, 0, 0),
 'Delivery time (days)': 7,
 'Quantity': 2,
 'Unit Price': 9000,
 '_id': ObjectId('6613068002da54eb266f40bd'),
 'businessname': 'OHIO CVS STORES LLC',
 'practiceaddress1': '1949 WEST MARKET STREET',
 'practicecity': 'AKRON',
 'practicename': 'CVS PHARMACY #03306',
 'practicestate': 'OH',
 'practicezip9code': 443136910,
 'provider_id': 20447711,
 'specialitieslist': 'Pharmacy',
 'supplieslist': 'Blood Glucose Monitors',
 'telephonenumber': 3308675410}
{'Date Purchased': datetime.datetime(2010, 3, 31, 0, 0),
 'Delivery time (days)': 15,
 'Quantity': 5,
 'Unit Price': 300,
 '_id': ObjectId('6613068002da54eb266f40be'),
 'businessname': 'LUXOTTICA OF AMERICA INC',
 'practiceaddress1': '2526 S THIRD ST',
 'practicecity': 'JACKSONVILLE',
 'practicename': 'LENSCRAFERS #00855',
 'practicestate': 'FL',
 'practicezip9code': 322506024,
 'provider_id': 20541431,
 'specialitieslist': 'Optician',
 'supplieslist': 'Prosthetic Lenses: Conventional Eyeglasses',
 'telephonenumber': 9042472374}
{'Date Purchased': datetime.datetime(2016, 12, 15, 0, 0),
 'Delivery time (days)': 7,
 'Quantity': 50,
 'Unit Price': 12000,
 '_id': ObjectId('6613068002da54eb266f40bf'),
 'businessname': 'SPECIALTY INFUSIONS INC',
 'practiceaddress1': '1624 BROADWAY',
 'practicecity': 'BROOKLYN',
 'practicename': 'PRIME INFUSIONS',
 'practicestate': 'NY',
 'practicezip9code': 112071026,
 'provider_id': 20469089,
 'specialitieslist': 'Pharmacy',
 'supplieslist': 'External Infusion Pumps ',
 'telephonenumber': 7184434000}

### Counting all documents in a collection

In [35]:
# ad
db.count_documents({})

400

### Filtering

The next cells will query based on a

1. single value
2. multiple values joined by AND
3. multiple values joined by OR
3. query based on date

#### Single Value Filter

In [37]:
# ad
for r in db.find({'businessname': 'HARTIG DRUG CO CORP'}):
    pprint(r)

{'Date Purchased': datetime.datetime(2007, 1, 11, 0, 0),
 'Delivery time (days)': 4,
 'Quantity': 50,
 'Unit Price': 110,
 '_id': ObjectId('6613068002da54eb266f40bb'),
 'businessname': 'HARTIG DRUG CO CORP',
 'practiceaddress1': '11002 BARTELL BLVD',
 'practicecity': 'GALENA',
 'practicename': 'HARTIG DRUG STORE 5',
 'practicestate': 'IL',
 'practicezip9code': 610368215,
 'provider_id': 20561045,
 'specialitieslist': 'Pharmacy',
 'supplieslist': 'Enteral Nutrients',
 'telephonenumber': 8157772700}
{'Date_Purchased': datetime.datetime(2007, 1, 11, 0, 0),
 'Quantity': 50,
 'Unit_Price': 110,
 '_id': ObjectId('66130b8602da54eb266f41ab'),
 'address1': '11002 BARTELL BLVD',
 'businessname': 'HARTIG DRUG CO CORP',
 'city': 'GALENA',
 'days_in_store': 4,
 'practicename': 'HARTIG DRUG STORE 5',
 'provider_id': 20561045,
 'specialitieslist': 'Pharmacy',
 'state': 'IL',
 'supplieslist': 'Enteral Nutrients',
 'telephonenumber': 8157772700,
 'zip_code': 610368215}

#### Boolean OR query

In [38]:
# ad
for r in db.find({'or':[{'businessname': 'HARTIG DRUG CO CORP'},{'businessname': 'WAL-MART STORES EAST LP'}]}):
    pprint(r)